body {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
#toplo { 
    margin-right:10px
}
.navbar-brand1 {
    text-decoration: none;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    margin-right: auto;
   
}
.logo2 {
    max-width: 100%;
    height: auto;
}
#navbar2 {
    min-height: 10px;
}
#menu1 {
    gap:50px;   
}
.banner-card{
    position: relative;
}
.banner-card img {
    position: relative;
    width: 100%;
    height: auto;
}
.banner-card .banner-text {
    position: absolute;
    top: 0%;
    color: white;
    padding: 30%;
}
.banner-text h1 {
    font-size: 400%;
    gap: 20px;
}
.banner-text p {
    font-size: 120%;
}
.banner-button {
    background-color: brown;
    width:fit-content;
    box-shadow: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left:30%;
    color:white;
}
#bests {
    text-align:center;
    margin-top: px;
    background: none;
    
}
#card1 {
    width: 100%;
    height:auto;
}
.card-container {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 100px;
    gap: 20px;
    outline:none;
}
.card {
    width: 200px;
    overflow: hidden;
}
#newbtn {
    background-color: brown;
    width:100vw;
    box-shadow: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color:white;
    border: none;
}
.container-custom {
    max-width: 1200px;
    margin: 50px auto;
  }
#text-section {
    padding: 20px;
  }
.img-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
.img-grid img {
        width: 10%;
        height: 200px; 
        object-fit: cover;
        border-radius: 8px;   
} 
#img3 {
    height: 30vw;
}

    
